<h2>Squatch Report: <%= @big_foot_report.id %></h2>
<h3>
  <ul>
    <li>Report Class: <%= @big_foot_report.report_class %></li>
    <li>State: <%= @big_foot_report.state %></li>
    <li>Season: <%= @big_foot_report.season %></li>
    <li>Date: <%= @big_foot_report.find_date %></li>
    <li>Environment: <%= @big_foot_report.environment %></li>
    <li>Location Details: <%= @big_foot_report.location_details %></li><br>
    <li>Observed: <%= @big_foot_report.observed %></li><br>
    <li>Also Noticed: <%= @big_foot_report.also_noticed %></li><br>
    <li>Other Witnesses: <%= @big_foot_report.other_witnesses %></li>
    <li>Time and Conditions: <%= @big_foot_report.time_and_conditions %></li>
    <li>County: <%= @big_foot_report.county %></li>
    <li>Nearest Town: <%= @big_foot_report.nearest_town %></li>
    <li>Nearest Road: <%= @big_foot_report.nearest_road %></li><br>
    <li>AG References: <%= @big_foot_report.a_g_references %></li>
  </ul>
</h3>
