<h2>Squatch Report: <%= @squatch_report.report_number %></h2>
<h3>
  <ul>
    <li>Report Class: <%= @squatch_report.report_class %></li>
    <li>County: <%= @squatch_report.county %></li>
    <li>Season: <%= @squatch_report.season %></li>
    <li>Date: <%= @squatch_report.date %></li>
    <li>Month: <%= @squatch_report.month %></li>
    <li>Year: <%= @squatch_report.year %></li>
    <li>Environment: <%= @squatch_report.environment %></li>
    <li>Location Details: <%= @squatch_report.location_details %></li>
    <li>Other Witnesses: <%= @squatch_report.other_witnesses %></li>
    <li>State: <%= @squatch_report.state %></li><br>
    <li>Observed: <%= @squatch_report.observed %></li><br>
    <li>Also Noticed: <%= @squatch_report.also_noticed %></li><br>
    <li>Time and Conditions: <%= @squatch_report.time_and_conditions %></li>
    <li>Nearest Town: <%= @squatch_report.nearest_town %></li>
    <li>Nearest Road: <%= @squatch_report.nearest_road %></li><br>
    <li>AG References: <%= @squatch_report.a_g_references %></li>
  </ul>
</h3>
