<!DOCTYPE html>
<html>
  <head>
    <title>Squatch Watch</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="topnav" id="myTopnav">
      <a class="active" href="/">Squatch Watch</a>
      <a href="squatch_map">Squatch Map</a>
      <%= link_to "Squatch Reports", big_foot_reports_path %>
      <%= link_to "I Found A Dang Samsquantch!", new_big_foot_report_path %>
      <%= link_to "About", about_path %>
      <% if current_user  %>
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Login with Google", "auth/google" %>
      <% end %>
      <div class="search-container">
        <form action="/search">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div> 
    <p class="flash"><%= flash.notice %></p>
    <%= yield %>
  </body>
</html>
